* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top right, #775f8d, #4b4a4a);
}

h1 {
  color: #000000;
  font-size: 4.5rem;
  margin-bottom: 80px;
}

.players {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.player {
  border: 1px solid #dadada;
  background: linear-gradient(to top left, #ff89eb, #5ec0f8);
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #fff;
  padding: 12px 15px;
  border-radius: 30px;
}

#game-board {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.box {
  height: 18vmin;
  width: 18vmin;
  background: linear-gradient(to top left, #ff89eb, #5ec0f8);
  color: #000000;
  font-size: 5rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
}

.last-mssg {
  display: none;
  font-size: 7rem;
  color: white;
  padding: 19vw 0;
}

.btn {
  background: linear-gradient(to top left, #ff89eb, #5ec0f8);
  color: #000000;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 427px) {
  h1 {
    font-size: 4rem;
  }

  .last-mssg {
    font-size: 5rem;
  }

  #game-board {
    height: 55vh;
  }

  .player {
    font-size: 1.2rem;
  }

  .game {
    height: 70vmin;
    width: 70vmin;
  }

  .btn {
    border-radius: 25px;
  }

  .box {
    height: 17vmin;
    width: 20vmin;
    border-radius: 25px;
    font-size: 3.5rem;
  }

  main {
    margin-bottom: -30px;
  }

}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
  }

  .last-mssg {
    font-size: 3.5rem;
  }

  .players {
    padding: 0 2rem;
    gap: 1rem;
  }

  #game-board {
    height: 55vh;
  }

  .player {
    font-size: 1.1rem;
    padding: 10px 10px;
  }

  .game {
    height: 70vmin;
    width: 75vmin;
  }

  .btn {
    border-radius: 25px;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
  }

  .box {
    height: 17vmin;
    width: 22vmin;
    border-radius: 20px;
    font-size: 3.5rem;
  }

  main {
    margin-bottom: -20px;
  }
}
